{{- $laptop := index .MonitorsByTag "laptop" -}}
# Configuration generated for power state: {{.PowerState}}

{{- if $laptop -}}

{{- if isOnBattery }}
monitor={{$laptop.Name}},2560x1600@60.00000,0x0,1.6,vrr,1
{{- else }}

# AC mode: Full performance
#monitor={{$laptop.Name}},2560x1600@240.00000,0x0,1.6,vrr,0,cm,hdr

# =========================
#  Monitor (monitorv2)
# =========================
monitorv2 {
  output = desc:{{$laptop.Description}}
  mode = 3840x2160@240.00000
  position = 0x0
  scale = 1.6

  bitdepth = 10
  cm = dcip3

  # SDR content when in HDR
  sdrbrightness = 1.3
  sdrsaturation = 0.98

  # VRR per-monitor
  vrr = 2

  # Force HDR 
  supports_hdr = 1
}
{{- end -}}

# Workspace assignment: when only using the laptop's monitor, all the workspaces should belong to it.
workspace = 1,monitor:{{$laptop.Name}},default:true
workspace = 2,monitor:{{$laptop.Name}}
workspace = 3,monitor:{{$laptop.Name}}
workspace = 4,monitor:{{$laptop.Name}}
workspace = 5,monitor:{{$laptop.Name}}
workspace = 6,monitor:{{$laptop.Name}}
workspace = 7,monitor:{{$laptop.Name}}
workspace = 8,monitor:{{$laptop.Name}}
workspace = 9,monitor:{{$laptop.Name}}

exec = hyprctl dispatch moveworkspacetomonitor 1 {{$laptop.Name}}
exec = hyprctl dispatch moveworkspacetomonitor 2 {{$laptop.Name}}
exec = hyprctl dispatch moveworkspacetomonitor 3 {{$laptop.Name}}
exec = hyprctl dispatch moveworkspacetomonitor 4 {{$laptop.Name}}
exec = hyprctl dispatch moveworkspacetomonitor 5 {{$laptop.Name}}
exec = hyprctl dispatch moveworkspacetomonitor 6 {{$laptop.Name}}
exec = hyprctl dispatch moveworkspacetomonitor 7 {{$laptop.Name}}
exec = hyprctl dispatch moveworkspacetomonitor 8 {{$laptop.Name}}
exec = hyprctl dispatch moveworkspacetomonitor 9 {{$laptop.Name}}

{{- end -}} # if laptop



